.venv/
__pycache__/
*.pyc
.env
.env.txt
.antigravity/
session_logs/
user_input_files/
data/
memory/
outputs/
*.ipynb_checkpoints/
.DS_Store
*.docx
*.pdf
*.jsonl
*.xlsx
*.csv
experiments/Finnav_AI.ipynb
experiments/finnav_unsloth_qwen3_4b.ipynb
finnav_qwen3-VL_4b_gguf/
finnav_qwen3-VL_4b_gguf.zip
finnav_unsloth_qwen3_4b (1).ipynb
